# Editor configs
.idea
.vs
.vscode

# Output files
*.o

assignment_1/**/*.pgm
assignment_1/heat_seq/heat_seq
assignment_1/heat_simd/heat_simd
assignment_1/heat_auto/heat_auto

# Jupyter checkpoints
*-checkpoint.ipynb

assignment_3/histo/with_mutual_ex/histo_atomic/histo_atomic
